ansible/install_applications/roles/home-nodered.prepare/app/prepare/flows.json.j2
[
    {
        "id": "5cf77e32.54a47",
        "type": "tab",
        "label": "Test HomeAssistant",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3925f1ad.f3636e",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open"
    },
    {
        "id": "dbac5e46.ca6e1",
        "type": "inject",
        "z": "5cf77e32.54a47",
        "name": "Manual trigger",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "675da9de.c7ff7"
            ]
        ]
    },
    {
        "id": "6007c54a.af0e04",
        "type": "api-call-service",
        "z": "5cf77e32.54a47",
        "name": "Notif",
        "server": "3925f1ad.f3636e",
        "service_domain": "persistent_notification",
        "service": "create",
        "data": "{\"title\":\"Test from NodeRED !\",\"message\":\"The sun is : {{ '{{' }} payload {{ '}}' }}\"}",
        "render_data": true,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 690,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "98bee1c8.a412c",
        "type": "api-call-service",
        "z": "5cf77e32.54a47",
        "name": "Email",
        "server": "3925f1ad.f3636e",
        "service_domain": "notify",
        "service": "email_user",
        "data": "{\"title\":\"Test from NodeRED !\",\"message\":\"The sun is : {{ '{{' }} payload {{ '}}' }}\"}",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 690,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "675da9de.c7ff7",
        "type": "api-current-state",
        "z": "5cf77e32.54a47",
        "name": "Sun",
        "server": "3925f1ad.f3636e",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "sun.sun",
        "state_type": "str",
        "outputs": 1,
        "x": 470,
        "y": 320,
        "wires": [
            [
                "6007c54a.af0e04",
                "98bee1c8.a412c"
            ]
        ]
    },
    {
        "id": "27909229.fa886e",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "You still need to configure the HomeAssistant server",
        "info": "",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "17c95d30.ca700b",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Go to the top-right menu > Configuration Nodes > Home Assistant",
        "info": "",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "40ecd08a.702268",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Fill in the settings : ",
        "info": "",
        "x": 230,
        "y": 120,
        "wires": []
    },
    {
        "id": "7fc01d2e.5151fc",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Base URL : http://homeassistant",
        "info": "",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "3bc984a7.09107c",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Access Token : [HomeAssistant long lived token]",
        "info": "",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "2f4c554d.c866a2",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "And remember to hit the Deploy button !",
        "info": "",
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "965bf194.aa89d8",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Each time you click on the grey button, you should see a notification on HomeAssistant and receive an email",
        "info": "",
        "x": 440,
        "y": 240,
        "wires": []
    }
]