apps/home/nodered/prepare/files/flows.json
[
    {
        "id": "5cf77e32.54a47",
        "type": "tab",
        "label": "Test HomeAssistant",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3925f1ad.f3636e",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open"
    },
    {
        "id": "dbac5e46.ca6e1",
        "type": "inject",
        "z": "5cf77e32.54a47",
        "name": "Manual trigger",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 420,
        "wires": [
            [
                "675da9de.c7ff7"
            ]
        ]
    },
    {
        "id": "99f76854.1cdb2",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "If you see \"unknown\" nodes below, please install the 'node-red-contrib-home-assistant-websocket' node",
        "info": "",
        "x": 500,
        "y": 40,
        "wires": []
    },
    {
        "id": "e99b940.2f45f7",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "To install a node, go to the top-right menu > Manage Palette > Install tab",
        "info": "",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "6007c54a.af0e04",
        "type": "api-call-service",
        "z": "5cf77e32.54a47",
        "name": "Notif",
        "server": "3925f1ad.f3636e",
        "service_domain": "persistent_notification",
        "service": "create",
        "data": "{\"title\":\"Test from NodeRED !\",\"message\":\"The sun is : {{ payload }}\"}",
        "render_data": true,
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "x": 670,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "675da9de.c7ff7",
        "type": "api-current-state",
        "z": "5cf77e32.54a47",
        "name": "Sun",
        "server": "3925f1ad.f3636e",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "sun.sun",
        "state_type": "str",
        "outputs": 1,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "6007c54a.af0e04"
            ]
        ]
    },
    {
        "id": "27909229.fa886e",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Once installed, you still need to configure the HomeAssistant server",
        "info": "",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "17c95d30.ca700b",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Go to the top-right menu > Configuration Nodes > Home Assistant",
        "info": "",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "40ecd08a.702268",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Fill in the settings : ",
        "info": "",
        "x": 230,
        "y": 220,
        "wires": []
    },
    {
        "id": "7fc01d2e.5151fc",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Base URL : http://homeassistant",
        "info": "",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "3bc984a7.09107c",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Access Token : [HomeAssistant long lived token]",
        "info": "",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "2f4c554d.c866a2",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "And remember to hit the Deploy button !",
        "info": "",
        "x": 300,
        "y": 280,
        "wires": []
    },
    {
        "id": "965bf194.aa89d8",
        "type": "comment",
        "z": "5cf77e32.54a47",
        "name": "Each time you click on the grey button, you should see a notification on HomeAssistant",
        "info": "",
        "x": 440,
        "y": 340,
        "wires": []
    }
]